.card {
  transition: 0.5s;
}

.card:hover {
  box-shadow: 11px -11px 0px #0f0f0f;
  transition: 0.5s;
  transform: scale(1.1);
}

.animated-image {
  transition: border 0.3s ease-in-out, transform 1s ease-in-out;
  animation: bounce 2s infinite alternate;
  transform: translateY(0); /* Set the initial position */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
